body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.logo {
    height: 4rem;
}

.slogan {
    text-transform: uppercase;

}

.hard {
    font-weight: bold;
    font-size: 1.2rem;
}

.harder {
    font-weight: bolder;
    font-size: 1.4rem;

}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

article {
    flex: 9;
    padding: 1rem;
}

header {
    flex: 1;
    font-family: wotfard-bold, sans-serif;
    display: flex;
    width: 100%;
    color: #1b3b55;
    text-align: center;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    flex: 1;
}