body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
}

.logo {
    height: 4rem;
}

header {
    display: flex;
    background-color: #1b3b55;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}